h3, .h3 {
  font-size: 24px !important;
  margin-top: -10px !important;
  margin-bottom: 15px !important;
}

h3 .small,
.h3 .small {
  font-size: 20%;
}

small,
.small {
  font-size: 40%;
}

.bg-orange {
  background-color: #ff8839 !important;
  border-color: #ff8839 !important;
}

.bg-primary {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.border-orange {
  border-color: ##ff8839 !important;
}

.dropdown-toggle:after {
  color: white;
}

.login-panel-foother{
    color: #707070;
    margin-top: 10px;
    text-align: center;
    line-height: 1;
    font-size: 20%;
}

.statuscircle {
    margin-left:2px;
    float:left;
}
.statusdegree {
    margin-left:2px;
    float:left;
}
.statuszoon{
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    float:right;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.left {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0.5rem 0.5rem;
}

.right {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 0.5rem 0.5rem;
}

.blueinfo {
color:#2196F3;
}

.bg-orange {
  background-color: #ff8839 !important;
}

.card-footer-primary{
  background-color: #BBDEFB !important;
  border-top:0px solid #0d6efd !important;
}

.card-footer-orange{
  background-color: #ffede2 !important;
  border-top:0px solid #ff8839 !important;
}

.btn-default-style{color:#333;background-color:#fdf7f4;border-color:#ff8839}
.btn-default-style:hover,.btn-default-style:focus,.btn-default-style.focus,.btn-default-style:active,.btn-default-style.active,.open>.dropdown-toggle.btn-default-style{color:#333;background-color:#ffede2;border-color:#ff8839}

.btn-primary-style{color:#333;background-color:#E0F2F1;border-color:#0d6efd}
.btn-primary-style:hover,.btn-primary-style:focus,.btn-primary-style.focus,.btn-primary-style:active,.btn-primary-style.active,.open>.dropdown-toggle.btn-primary-style{color:#333;background-color:#BBDEFB;border-color:##0d6efd}

